body
  background-color: white

.w3-button
  border: 0
  border-radius: 5em
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%)
  height: 1em
  &:hover
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%)

.w3-center
  text-align: center


.mySlides{
  position: relative;
  width:100%!important;
}
#imageFG{
  width: 80%;
  position:absolute;
  margin: auto;
}
#imageBG{
  width: 100%;
  position:absolute;
  filter: blur(5px);
}
